In [1]:
import pandas as pd
import numpy as np
import sklearn as sk

In [2]:
train_str = 'train_features.csv'
labels_str = 'train_labels.csv'
df_train_unsorted = pd.read_csv(train_str)
df_labels = pd.read_csv(labels_str)

In [6]:
TEST1 = ['LABEL_BaseExcess', 'LABEL_Fibrinogen', 'LABEL_AST', 'LABEL_Alkalinephos', 'LABEL_Bilirubin_total', 'LABEL_Lactate',
         'LABEL_TroponinI', 'LABEL_SaO2', 'LABEL_Bilirubin_direct', 'LABEL_EtCO2']
TEST2 = ['LABEL_Sepsis']
TEST3 = ['LABEL_RRate', 'LABEL_ABPm', 'LABEL_SpO2', 'LABEL_Heartrate']

df_subtask1 = df_labels[TEST1]
df_subtask2 = df_labels[TEST2]
df_subtask3 = df_labels[TEST3]

In [3]:
pd.set_option('display.max_rows', 15)

In [22]:
#print(df_train_unsorted.columns)
#print(df_labels.columns)

In [5]:
#df_train_unsorted.describe()

In [7]:
#df_train_unsorted.info()

In [18]:
#finding pid of the argmax time and print all of the rows
time_arg_max = df_train_unsorted['Time'].argmax()
time_arg_max_pid = df_train_unsorted.iloc[time_arg_max].pid
df_time = df_train_unsorted[df_train_unsorted.pid == time_arg_max_pid]

In [9]:
df_train_sort = df_train_unsorted.sort_values(['pid','Time'], ascending=[True, True])
#df_train_sort_nonNaN = df_train_sort.fillna(df_train_sort.mean())

In [19]:
col = df_train_sort.columns.get_loc('Time')
num_of_row = df_train_sort.shape[0]
for i in range(num_of_row):
    df_train_sort.iat[i,col] = i%12 + 1

In [12]:
# suppose df is a pandas dataframe containing the result
#df_train_sort_nonNaN.to_csv('zwischen.csv', index=False, float_format='%.3f')

In [13]:
#df_train_sort_nonNaN

In [49]:
df_first = df_train_sort.head(12)
feat = df_first.columns
df_isna = df_first.isna().sum()
for i in feat:
    if int(df_isna[i]) == 0 or int(df_isna[i]) == 12:
        continue
    else:            
        df_try.loc[:,i] = df_try[i].fillna(df_try[i].mean())
        
df_first

,pid,Time,Age,EtCO2,PTT,BUN,Lactate,Temp,Hgb,HCO3,...,Alkalinephos,SpO2,Bilirubin_direct,Chloride,Hct,Heartrate,Bilirubin_total,TroponinI,ABPs,pH
0,1,1,34.0,NaN,NaN,12.0,NaN,36.00,8.700000,24.000000,...,NaN,100.0,NaN,114.0,24.6,94.0,NaN,NaN,142.0,7.33
1,1,2,34.0,NaN,NaN,12.0,NaN,36.00,8.566667,25.333333,...,NaN,100.0,NaN,112.0,23.2,99.0,NaN,NaN,125.0,7.33
2,1,3,34.0,NaN,NaN,12.0,NaN,36.00,8.566667,25.333333,...,NaN,100.0,NaN,112.0,23.2,92.0,NaN,NaN,110.0,7.37
3,1,4,34.0,NaN,NaN,12.0,NaN,37.00,8.566667,25.333333,...,NaN,100.0,NaN,112.0,23.2,88.0,NaN,NaN,104.0,7.37
4,1,5,34.0,NaN,NaN,12.0,NaN,36.75,8.566667,25.333333,...,NaN,100.0,NaN,112.0,22.4,81.0,NaN,NaN,100.0,7.41
5,1,6,34.0,NaN,NaN,12.0,NaN,37.00,8.566667,25.333333,...,NaN,100.0,NaN,112.0,22.4,82.0,NaN,NaN,106.0,7.37
6,1,7,34.0,NaN,NaN,12.0,NaN,37.00,8.566667,25.333333,...,NaN,100.0,NaN,112.0,23.2,67.0,NaN,NaN,112.0,7.37
7,1,8,34.0,NaN,NaN,12.0,NaN,37.00,8.566667,25.333333,...,NaN,100.0,NaN,112.0,23.2,62.0,NaN,NaN,121.0,7.37
8,1,9,34.0,NaN,NaN,12.0,NaN,36.75,8.500000,26.000000,...,NaN,100.0,NaN,111.0,23.8,58.0,NaN,NaN,118.0,7.37
9,1,10,34.0,NaN,NaN,12.0,NaN,38.00,8.500000,26.000000,...,NaN,100.0,NaN,111.0,23.8,66.0,NaN,NaN,110.0,7.39
10,1,11,34.0,NaN,NaN,12.0,NaN,36.75,8.566667,25.333333,...,NaN,100.0,NaN,112.0,23.2,67.0,NaN,NaN,124.0,7.39
11,1,12,34.0,NaN,NaN,12.0,NaN,36.75,8.566667,25.333333,...,NaN,100.0,NaN,112.0,22.2,69.0,NaN,NaN,102.0,7.37

In [15]:
#train_features = train_features.drop(columns='Time')
#train_features = train_features.drop(columns='HCO3')
#train_features = train_features.drop(columns='ABPm')
#train_features = train_features.fillna(train_features.mean())
#df_train_sort_nonNaN


train_features = df_train_sort_nonNaN.to_numpy()
pids = np.unique(train_features[:,0])
#print(len(pids))
# have to somehow exclude age?

train_features = train_features[:,1:]
train_features = train_features.reshape((len(pids),12*train_features.shape[-1]))
#print(train_features.shape)

In [16]:
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
df_train_nopid_time = df_train_sort_nonNaN.drop(columns=['pid','Time'])
#print(df_train_nopid_time)
X = df_train_sort_nonNaN.to_numpy(dtype=float)
#print(X.shape)
y = df_subtask1['LABEL_BaseExcess'].to_numpy(dtype=float)
clf = LinearDiscriminantAnalysis()
#print(y.shape)

In [17]:
#c = clf.fit(X, y)