In [1]:
import pandas as pd
import numpy as np
import sklearn as sk

In [3]:
train_str = 'train_features.csv'
labels_str = 'train_labels.csv'
df_train_unsorted = pd.read_csv(train_str)
df_labels = pd.read_csv(labels_str)

In [4]:
pd.set_option('display.max_rows', 10)

In [5]:
print(df_train_unsorted.columns)
print(df_labels.columns)

Index(['pid', 'Time', 'Age', 'EtCO2', 'PTT', 'BUN', 'Lactate', 'Temp', 'Hgb',
       'HCO3', 'BaseExcess', 'RRate', 'Fibrinogen', 'Phosphate', 'WBC',
       'Creatinine', 'PaCO2', 'AST', 'FiO2', 'Platelets', 'SaO2', 'Glucose',
       'ABPm', 'Magnesium', 'Potassium', 'ABPd', 'Calcium', 'Alkalinephos',
       'SpO2', 'Bilirubin_direct', 'Chloride', 'Hct', 'Heartrate',
       'Bilirubin_total', 'TroponinI', 'ABPs', 'pH'],
      dtype='object')
Index(['pid', 'LABEL_BaseExcess', 'LABEL_Fibrinogen', 'LABEL_AST',
       'LABEL_Alkalinephos', 'LABEL_Bilirubin_total', 'LABEL_Lactate',
       'LABEL_TroponinI', 'LABEL_SaO2', 'LABEL_Bilirubin_direct',
       'LABEL_EtCO2', 'LABEL_Sepsis', 'LABEL_RRate', 'LABEL_ABPm',
       'LABEL_SpO2', 'LABEL_Heartrate'],
      dtype='object')

In [6]:
df_train_unsorted.describe()

,pid,Time,Age,EtCO2,PTT,BUN,Lactate,Temp,Hgb,HCO3,...,Alkalinephos,SpO2,Bilirubin_direct,Chloride,Hct,Heartrate,Bilirubin_total,TroponinI,ABPs,pH
count,227940.000000,227940.000000,227940.000000,9783.000000,10299.000000,20105.000000,10756.000000,81115.000000,22295.000000,12559.00000,...,5708.000000,195192.000000,719.000000,13917.000000,27297.000000,200128.000000,5326.000000,3776.000000,191650.000000,25046.000000
mean,15788.831219,7.014399,62.073809,32.883114,40.091310,23.192664,2.859716,36.852136,10.628208,23.48810,...,97.796163,97.663449,1.390723,106.260185,31.283090,84.522371,1.640941,7.269240,122.369877,7.367231
std,9151.896286,4.716103,16.451854,7.802065,26.034961,20.024289,2.428368,0.875152,2.074859,4.40378,...,122.773379,2.786186,2.792722,5.916082,5.770425,17.643437,3.244145,25.172442,23.273834,0.074384
min,1.000000,1.000000,15.000000,10.000000,12.500000,1.000000,0.200000,21.000000,3.300000,0.00000,...,12.000000,20.000000,0.010000,66.000000,9.400000,23.000000,0.100000,0.010000,21.000000,6.820000
25%,7879.000000,4.000000,52.000000,28.500000,27.800000,12.000000,1.400000,36.000000,9.200000,21.00000,...,53.000000,96.000000,0.100000,103.000000,27.300000,72.000000,0.500000,0.030000,105.000000,7.330000
50%,15726.000000,7.000000,64.000000,33.000000,32.200000,17.000000,2.100000,37.000000,10.500000,23.90000,...,72.000000,98.000000,0.300000,107.000000,30.900000,83.000000,0.800000,0.150000,119.000000,7.370000
75%,23725.000000,10.000000,74.000000,38.000000,40.600000,27.000000,3.400000,37.000000,12.000000,26.00000,...,104.000000,100.000000,1.210000,110.000000,35.000000,95.000000,1.400000,2.050000,137.000000,7.410000
max,31658.000000,315.000000,100.000000,100.000000,250.000000,268.000000,31.000000,42.000000,23.800000,50.00000,...,3833.000000,100.000000,21.200000,141.000000,63.400000,191.000000,46.500000,440.000000,287.000000,7.780000

In [7]:
TEST1 = ['LABEL_BaseExcess', 'LABEL_Fibrinogen', 'LABEL_AST', 'LABEL_Alkalinephos', 'LABEL_Bilirubin_total', 'LABEL_Lactate',
         'LABEL_TroponinI', 'LABEL_SaO2', 'LABEL_Bilirubin_direct', 'LABEL_EtCO2']
TEST2 = ['LABEL_Sepsis']
TEST3 = ['LABEL_RRate', 'LABEL_ABPm', 'LABEL_SpO2', 'LABEL_Heartrate']

df_subtask1 = df_labels[TEST1]
df_subtask2 = df_labels[TEST2]
df_subtask3 = df_labels[TEST3]

In [8]:
df_train_unsorted.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227940 entries, 0 to 227939
Data columns (total 37 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   pid               227940 non-null  int64
 1   Time              227940 non-null  int64
 2   Age               227940 non-null  float64
 3   EtCO2             9783 non-null    float64
 4   PTT               10299 non-null   float64
 5   BUN               20105 non-null   float64
 6   Lactate           10756 non-null   float64
 7   Temp              81115 non-null   float64
 8   Hgb               22295 non-null   float64
 9   HCO3              12559 non-null   float64
 10  BaseExcess        19887 non-null   float64
 11  RRate             187785 non-null  float64
 12  Fibrinogen        2493 non-null    float64
 13  Phosphate         11590 non-null   float64
 14  WBC               19083 non-null   float64
 15  Creatinine        17792 non-null   float64
 16  PaCO2             21043 non-null   float64
 17  AST               5761 non-null    float64
 18  FiO2              26602 non-null   float64
 19  Platelets         18035 non-null   float64
 20  SaO2              13014 non-null   float64
 21  Glucose           47036 non-null   float64
 22  ABPm              195889 non-null  float64
 23  Magnesium         17523 non-null   float64
 24  Potassium         28393 non-null   float64
 25  ABPd              152418 non-null  float64
 26  Calcium           17830 non-null   float64
 27  Alkalinephos      5708 non-null    float64
 28  SpO2              195192 non-null  float64
 29  Bilirubin_direct  719 non-null     float64
 30  Chloride          13917 non-null   float64
 31  Hct               27297 non-null   float64
 32  Heartrate         200128 non-null  float64
 33  Bilirubin_total   5326 non-null    float64
 34  TroponinI         3776 non-null    float64
 35  ABPs              191650 non-null  float64
 36  pH                25046 non-null   float64
dtypes: float64(35), int64(2)
memory usage: 64.3 MB

In [9]:
#finding pid of the argmax time and print all of the rows
time_arg_max = df_train_unsorted['Time'].argmax()
time_arg_max_pid = df_train_unsorted.iloc[time_arg_max].pid
df_train_unsorted[df_train_unsorted.pid == time_arg_max_pid]

,pid,Time,Age,EtCO2,PTT,BUN,Lactate,Temp,Hgb,HCO3,...,Alkalinephos,SpO2,Bilirubin_direct,Chloride,Hct,Heartrate,Bilirubin_total,TroponinI,ABPs,pH
23520,12914,304,66.0,NaN,NaN,NaN,NaN,37.0,NaN,NaN,...,NaN,96.0,NaN,NaN,NaN,66.0,NaN,NaN,190.0,NaN
23521,12914,305,66.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,93.0,NaN,NaN,NaN,59.0,NaN,NaN,88.0,7.48
23522,12914,306,66.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,94.0,NaN,NaN,NaN,63.0,NaN,NaN,144.0,7.48
23523,12914,307,66.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,98.0,NaN,NaN,NaN,68.0,NaN,NaN,152.0,NaN
23524,12914,308,66.0,NaN,NaN,NaN,NaN,37.0,NaN,NaN,...,NaN,96.0,NaN,NaN,NaN,64.0,NaN,NaN,106.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23527,12914,311,66.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,98.0,NaN,NaN,NaN,65.0,NaN,NaN,129.0,NaN
23528,12914,312,66.0,NaN,NaN,NaN,NaN,38.0,NaN,NaN,...,NaN,97.0,NaN,NaN,NaN,77.0,NaN,NaN,158.0,NaN
23529,12914,313,66.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,98.0,NaN,NaN,NaN,72.0,NaN,NaN,152.0,NaN
23530,12914,314,66.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,98.0,NaN,NaN,NaN,71.0,NaN,NaN,125.0,NaN
23531,12914,315,66.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,98.0,NaN,NaN,NaN,72.0,NaN,NaN,157.0,NaN

In [10]:
df_train_sort = df_train_unsorted.sort_values(['pid','Time'], ascending=[True, True])
df_train_sort_nonNaN = df_train_sort.fillna(df_train_sort.mean())
df_train_sort

,pid,Time,Age,EtCO2,PTT,BUN,Lactate,Temp,Hgb,HCO3,...,Alkalinephos,SpO2,Bilirubin_direct,Chloride,Hct,Heartrate,Bilirubin_total,TroponinI,ABPs,pH
0,1,3,34.0,NaN,NaN,12.0,NaN,36.0,8.7,24.0,...,NaN,100.0,NaN,114.0,24.6,94.0,NaN,NaN,142.0,7.33
1,1,4,34.0,NaN,NaN,NaN,NaN,36.0,NaN,NaN,...,NaN,100.0,NaN,NaN,NaN,99.0,NaN,NaN,125.0,7.33
2,1,5,34.0,NaN,NaN,NaN,NaN,36.0,NaN,NaN,...,NaN,100.0,NaN,NaN,NaN,92.0,NaN,NaN,110.0,7.37
3,1,6,34.0,NaN,NaN,NaN,NaN,37.0,NaN,NaN,...,NaN,100.0,NaN,NaN,NaN,88.0,NaN,NaN,104.0,7.37
4,1,7,34.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,100.0,NaN,NaN,22.4,81.0,NaN,NaN,100.0,7.41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172879,31658,8,60.0,NaN,NaN,NaN,NaN,37.0,NaN,NaN,...,NaN,96.0,NaN,NaN,NaN,71.0,NaN,NaN,127.0,NaN
172880,31658,9,60.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
172881,31658,10,60.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
172882,31658,11,60.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,96.0,NaN,NaN,NaN,71.0,NaN,NaN,135.0,NaN
172883,31658,12,60.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,96.0,NaN,NaN,NaN,71.0,NaN,NaN,135.0,NaN

In [11]:
#len(df_train_sort.pid.unique())
df_train_sort['pid'].value_counts()

2049     12
20445    12
30682    12
28633    12
8151     12
         ..
1066     12
7209     12
27687    12
29732    12
2047     12
Name: pid, Length: 18995, dtype: int64

In [12]:
col = df_train_sort_nonNaN.columns.get_loc('Time')
num_of_row = df_train_sort_nonNaN.shape[0]
for i in range(num_of_row):
    df_train_sort_nonNaN.iat[i,col] = i%12 + 1

In [13]:
df_train_sort_nonNaN

,pid,Time,Age,EtCO2,PTT,BUN,Lactate,Temp,Hgb,HCO3,...,Alkalinephos,SpO2,Bilirubin_direct,Chloride,Hct,Heartrate,Bilirubin_total,TroponinI,ABPs,pH
0,1,1,34.0,32.883114,40.09131,12.000000,2.859716,36.000000,8.700000,24.0000,...,97.796163,100.000000,1.390723,114.000000,24.60000,94.000000,1.640941,7.26924,142.000000,7.330000
1,1,2,34.0,32.883114,40.09131,23.192664,2.859716,36.000000,10.628208,23.4881,...,97.796163,100.000000,1.390723,106.260185,31.28309,99.000000,1.640941,7.26924,125.000000,7.330000
2,1,3,34.0,32.883114,40.09131,23.192664,2.859716,36.000000,10.628208,23.4881,...,97.796163,100.000000,1.390723,106.260185,31.28309,92.000000,1.640941,7.26924,110.000000,7.370000
3,1,4,34.0,32.883114,40.09131,23.192664,2.859716,37.000000,10.628208,23.4881,...,97.796163,100.000000,1.390723,106.260185,31.28309,88.000000,1.640941,7.26924,104.000000,7.370000
4,1,5,34.0,32.883114,40.09131,23.192664,2.859716,36.852136,10.628208,23.4881,...,97.796163,100.000000,1.390723,106.260185,22.40000,81.000000,1.640941,7.26924,100.000000,7.410000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172879,31658,8,60.0,32.883114,40.09131,23.192664,2.859716,37.000000,10.628208,23.4881,...,97.796163,96.000000,1.390723,106.260185,31.28309,71.000000,1.640941,7.26924,127.000000,7.367231
172880,31658,9,60.0,32.883114,40.09131,23.192664,2.859716,36.852136,10.628208,23.4881,...,97.796163,97.663449,1.390723,106.260185,31.28309,84.522371,1.640941,7.26924,122.369877,7.367231
172881,31658,10,60.0,32.883114,40.09131,23.192664,2.859716,36.852136,10.628208,23.4881,...,97.796163,97.663449,1.390723,106.260185,31.28309,84.522371,1.640941,7.26924,122.369877,7.367231
172882,31658,11,60.0,32.883114,40.09131,23.192664,2.859716,36.852136,10.628208,23.4881,...,97.796163,96.000000,1.390723,106.260185,31.28309,71.000000,1.640941,7.26924,135.000000,7.367231
172883,31658,12,60.0,32.883114,40.09131,23.192664,2.859716,36.852136,10.628208,23.4881,...,97.796163,96.000000,1.390723,106.260185,31.28309,71.000000,1.640941,7.26924,135.000000,7.367231

In [ ]:
# suppose df is a pandas dataframe containing the result
#df_train_sort_nonNaN.to_csv('zwischen.csv', index=False, float_format='%.3f')

In [18]:
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
X = df_train_sort_nonNaN.to_numpy
y = df_subtask1['LABEL_BaseExcess'].to_numpy
clf = LinearDiscriminantAnalysis()
c = clf.fit(X, y)

TypeError: float() argument must be a string or a number, not 'method'

In [ ]:
print('Hello World')