In [1]:
import pandas as pd
import numpy as np
import sklearn as sk

In [2]:
train_str = 'train_features.csv'
labels_str = 'train_labels.csv'
df_train_unsorted = pd.read_csv(train_str)
df_labels = pd.read_csv(labels_str)

In [3]:
TEST1 = ['LABEL_BaseExcess', 'LABEL_Fibrinogen', 'LABEL_AST', 'LABEL_Alkalinephos', 'LABEL_Bilirubin_total', 'LABEL_Lactate',
         'LABEL_TroponinI', 'LABEL_SaO2', 'LABEL_Bilirubin_direct', 'LABEL_EtCO2']
TEST2 = ['LABEL_Sepsis']
TEST3 = ['LABEL_RRate', 'LABEL_ABPm', 'LABEL_SpO2', 'LABEL_Heartrate']

df_subtask1 = df_labels[TEST1]
df_subtask2 = df_labels[TEST2]
df_subtask3 = df_labels[TEST3]

In [10]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [5]:
#finding pid of the argmax time and print all of the rows
time_arg_max = df_train_unsorted['Time'].argmax()
time_arg_max_pid = df_train_unsorted.iloc[time_arg_max].pid
df_time = df_train_unsorted[df_train_unsorted.pid == time_arg_max_pid]

In [6]:
df_train_sort = df_train_unsorted.sort_values(['pid','Time'], ascending=[True, True]).reset_index()
col = df_train_sort.columns.get_loc('Time')
num_of_row = df_train_sort.shape[0]
for i in range(num_of_row):
    df_train_sort.iat[i,col] = i%12 + 1

df_train_sort = df_train_sort.drop(columns='index')

In [ ]:
# df_train_sort is sorted by 'pid'&'Time'-labels and has increasing index
# df_train_sort

In [17]:
df_first = df_train_sort.head(12).copy()
#df_first

In [21]:
# just the first two patitients
# df_part = df_train_sort.head(12*2).copy()
# df_part

In [40]:
df_train_sort.head(12)

,pid,Time,Age,EtCO2,PTT,BUN,Lactate,Temp,Hgb,HCO3,BaseExcess,RRate,Fibrinogen,Phosphate,WBC,Creatinine,PaCO2,AST,FiO2,Platelets,SaO2,Glucose,ABPm,Magnesium,Potassium,ABPd,Calcium,Alkalinephos,SpO2,Bilirubin_direct,Chloride,Hct,Heartrate,Bilirubin_total,TroponinI,ABPs,pH
0,1,1,34.0,NaN,NaN,12.0,NaN,36.0,8.700,24.00,-2.0,16.0,NaN,4.6,6.3,0.5,45.000000,NaN,0.5,143.0,NaN,120.0,84.0,1.20,3.8000,61.0,7.6,NaN,100.0,NaN,114.000,24.600000,94.0,NaN,NaN,142.0,7.330
1,1,2,34.0,NaN,NaN,12.0,NaN,36.0,8.675,24.25,-2.0,16.0,NaN,4.6,6.1,0.5,44.000000,NaN,0.5,143.0,NaN,120.0,81.0,1.35,3.8375,62.5,7.6,NaN,100.0,NaN,113.625,24.050000,99.0,NaN,NaN,125.0,7.330
2,1,3,34.0,NaN,NaN,12.0,NaN,36.0,8.650,24.50,0.0,18.0,NaN,4.6,5.9,0.5,43.000000,NaN,0.4,143.0,NaN,120.0,74.0,1.50,3.8750,59.0,7.6,NaN,100.0,NaN,113.250,23.500000,92.0,NaN,NaN,110.0,7.370
3,1,4,34.0,NaN,NaN,12.0,NaN,37.0,8.625,24.75,0.0,18.0,NaN,4.6,5.7,0.5,42.857143,NaN,0.4,143.0,NaN,120.0,66.0,1.65,3.9125,49.5,7.6,NaN,100.0,NaN,112.875,22.950000,88.0,NaN,NaN,104.0,7.370
4,1,5,34.0,NaN,NaN,12.0,NaN,37.0,8.600,25.00,0.0,18.0,NaN,4.6,5.5,0.5,42.714286,NaN,0.4,143.0,NaN,120.0,63.0,1.80,3.9500,48.0,7.6,NaN,100.0,NaN,112.500,22.400000,81.0,NaN,NaN,100.0,7.410
5,1,6,34.0,NaN,NaN,12.0,NaN,37.0,8.575,25.25,0.0,16.0,NaN,4.6,5.3,0.5,42.571429,NaN,0.4,143.0,NaN,120.0,68.0,1.80,3.9875,51.0,7.6,NaN,100.0,NaN,112.125,22.400000,82.0,NaN,NaN,106.0,7.406
6,1,7,34.0,NaN,NaN,12.0,NaN,37.0,8.550,25.50,0.0,18.0,NaN,4.6,5.1,0.5,42.428571,NaN,0.4,143.0,NaN,120.0,65.0,1.90,4.0250,46.0,7.6,NaN,100.0,NaN,111.750,22.866667,67.0,NaN,NaN,112.0,7.402
7,1,8,34.0,NaN,NaN,12.0,NaN,37.0,8.525,25.75,0.0,18.0,NaN,4.6,4.9,0.5,42.285714,NaN,0.4,143.0,NaN,120.0,68.0,2.00,4.0625,47.0,7.6,NaN,100.0,NaN,111.375,23.333333,62.0,NaN,NaN,121.0,7.398
8,1,9,34.0,NaN,NaN,12.0,NaN,37.5,8.500,26.00,0.0,12.0,NaN,4.6,4.7,0.5,42.142857,NaN,0.4,143.0,NaN,120.0,67.0,2.10,4.1000,47.0,7.6,NaN,100.0,NaN,111.000,23.800000,58.0,NaN,NaN,118.0,7.394
9,1,10,34.0,NaN,NaN,12.0,NaN,38.0,8.500,26.00,0.0,18.0,NaN,4.6,4.7,0.5,42.000000,NaN,0.4,143.0,NaN,120.0,62.0,2.10,4.1000,44.0,7.6,NaN,100.0,NaN,111.000,23.800000,66.0,NaN,NaN,110.0,7.390
10,1,11,34.0,NaN,NaN,12.0,NaN,38.0,8.500,26.00,0.0,18.0,NaN,4.6,4.7,0.5,42.000000,NaN,0.4,143.0,NaN,120.0,69.0,2.10,4.1000,49.0,7.6,NaN,100.0,NaN,111.000,23.000000,67.0,NaN,NaN,124.0,7.390
11,1,12,34.0,NaN,NaN,12.0,NaN,38.0,8.500,26.00,0.0,18.0,NaN,4.6,4.7,0.5,42.000000,NaN,0.4,143.0,NaN,120.0,53.0,2.10,4.1000,39.0,7.6,NaN,100.0,NaN,111.000,22.200000,69.0,NaN,NaN,102.0,7.390

In [41]:
df_train_sort.tail(12)

,pid,Time,Age,EtCO2,PTT,BUN,Lactate,Temp,Hgb,HCO3,BaseExcess,RRate,Fibrinogen,Phosphate,WBC,Creatinine,PaCO2,AST,FiO2,Platelets,SaO2,Glucose,ABPm,Magnesium,Potassium,ABPd,Calcium,Alkalinephos,SpO2,Bilirubin_direct,Chloride,Hct,Heartrate,Bilirubin_total,TroponinI,ABPs,pH
227928,31658,1,60.0,NaN,NaN,13.0,NaN,36.000000,14.4,NaN,NaN,NaN,NaN,NaN,4.6,0.71,NaN,NaN,NaN,164.0,NaN,98.0,91.000000,1.9,3.6,72.000000,8.8,NaN,96.0,NaN,NaN,40.2,62.0,NaN,NaN,137.000000,NaN
227929,31658,2,60.0,NaN,NaN,13.0,NaN,36.000000,14.4,NaN,NaN,NaN,NaN,NaN,4.6,0.71,NaN,NaN,NaN,164.0,NaN,98.0,91.000000,1.9,3.6,72.000000,8.8,NaN,96.0,NaN,NaN,40.2,62.0,NaN,NaN,137.000000,NaN
227930,31658,3,60.0,NaN,NaN,13.0,NaN,36.000000,14.4,NaN,NaN,NaN,NaN,NaN,4.6,0.71,NaN,NaN,NaN,164.0,NaN,98.0,91.000000,1.9,3.6,72.000000,8.8,NaN,96.0,NaN,NaN,40.2,62.0,NaN,NaN,137.000000,NaN
227931,31658,4,60.0,NaN,NaN,13.0,NaN,36.000000,14.4,NaN,NaN,NaN,NaN,NaN,4.6,0.71,NaN,NaN,NaN,164.0,NaN,98.0,91.000000,1.9,3.6,72.000000,8.8,NaN,96.0,NaN,NaN,40.2,62.0,NaN,NaN,137.000000,NaN
227932,31658,5,60.0,NaN,NaN,13.0,NaN,36.333333,14.4,NaN,NaN,NaN,NaN,NaN,4.6,0.71,NaN,NaN,NaN,164.0,NaN,98.0,91.000000,1.9,3.6,71.333333,8.8,NaN,96.0,NaN,NaN,40.2,65.0,NaN,NaN,133.666667,NaN
227933,31658,6,60.0,NaN,NaN,13.0,NaN,36.666667,14.4,NaN,NaN,NaN,NaN,NaN,4.6,0.71,NaN,NaN,NaN,164.0,NaN,100.0,91.000000,1.9,3.6,70.666667,8.8,NaN,96.0,NaN,NaN,40.2,68.0,NaN,NaN,130.333333,NaN
227934,31658,7,60.0,NaN,NaN,13.0,NaN,37.000000,14.4,NaN,NaN,NaN,NaN,NaN,4.6,0.71,NaN,NaN,NaN,164.0,NaN,102.0,91.000000,1.9,3.6,70.000000,8.8,NaN,96.0,NaN,NaN,40.2,71.0,NaN,NaN,127.000000,NaN
227935,31658,8,60.0,NaN,NaN,13.0,NaN,37.000000,14.4,NaN,NaN,NaN,NaN,NaN,4.6,0.71,NaN,NaN,NaN,164.0,NaN,104.0,91.000000,1.9,3.6,70.000000,8.8,NaN,96.0,NaN,NaN,40.2,71.0,NaN,NaN,127.000000,NaN
227936,31658,9,60.0,NaN,NaN,13.0,NaN,37.000000,14.4,NaN,NaN,NaN,NaN,NaN,4.6,0.71,NaN,NaN,NaN,164.0,NaN,106.0,96.666667,1.9,3.6,73.666667,8.8,NaN,96.0,NaN,NaN,40.2,71.0,NaN,NaN,129.666667,NaN
227937,31658,10,60.0,NaN,NaN,13.0,NaN,37.000000,14.4,NaN,NaN,NaN,NaN,NaN,4.6,0.71,NaN,NaN,NaN,164.0,NaN,108.0,102.333333,1.9,3.6,77.333333,8.8,NaN,96.0,NaN,NaN,40.2,71.0,NaN,NaN,132.333333,NaN
227938,31658,11,60.0,NaN,NaN,13.0,NaN,37.000000,14.4,NaN,NaN,NaN,NaN,NaN,4.6,0.71,NaN,NaN,NaN,164.0,NaN,110.0,108.000000,1.9,3.6,81.000000,8.8,NaN,96.0,NaN,NaN,40.2,71.0,NaN,NaN,135.000000,NaN
227939,31658,12,60.0,NaN,NaN,13.0,NaN,37.000000,14.4,NaN,NaN,NaN,NaN,NaN,4.6,0.71,NaN,NaN,NaN,164.0,NaN,110.0,108.000000,1.9,3.6,81.000000,8.8,NaN,96.0,NaN,NaN,40.2,71.0,NaN,NaN,135.000000,NaN

In [31]:
# interpolated values for all partients if at least one value per colom

df_interpol = df_train_sort
for i in range(len(df_interpol.pid.unique())):
    if i%500 == 0:
        print(i)
    mask = df_interpol.loc[:,'pid'] == df_interpol.pid.unique()[i]
    df_interpol[mask] = df_interpol[mask].interpolate().fillna(method='bfill')

0
500
1000
1500
2000
2500
3000
3500
4000
4500
5000
5500
6000
6500
7000
7500
8000
8500
9000
9500
10000
10500
11000
11500
12000
12500
13000
13500
14000
14500
15000
15500
16000
16500
17000
17500
18000
18500

In [37]:
pd.set_option('display.max_columns', None)

In [43]:
#df_interpol.head(12)

In [44]:
#df_interpol.tail(12)

In [45]:
df_interpol_means = df_interpol.copy()

In [46]:
df_interpol_means = df_interpol_means.fillna(df_interpol_means.mean())

In [ ]:
#train_features = train_features.drop(columns='Time')
#train_features = train_features.drop(columns='HCO3')
#train_features = train_features.drop(columns='ABPm')
#train_features = train_features.fillna(train_features.mean())
#df_train_sort_nonNaN


train_features = df_train_sort_nonNaN.to_numpy()
pids = np.unique(train_features[:,0])
#print(len(pids))
# have to somehow exclude age?

train_features = train_features[:,1:]
train_features = train_features.reshape((len(pids),12*train_features.shape[-1]))
#print(train_features.shape)

In [ ]:
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
df_train_nopid_time = df_train_sort_nonNaN.drop(columns=['pid','Time'])
#print(df_train_nopid_time)
X = df_train_sort_nonNaN.to_numpy(dtype=float)
#print(X.shape)
y = df_subtask1['LABEL_BaseExcess'].to_numpy(dtype=float)
clf = LinearDiscriminantAnalysis()
#print(y.shape)

In [ ]:
#c = clf.fit(X, y)

In [48]:
# suppose df is a pandas dataframe containing the result
df_interpol.to_csv('data_interpolated.csv', index=False, float_format='%.4f')
df_interpol_means.to_csv('data_interpolated_means.csv', index=False, float_format='%.4f')