In [1]:
import pandas as pd
import numpy as np

In [2]:
train_str = 'train_features.csv'
labels_str = 'train_labels.csv'
df_train_unsorted = pd.read_csv(train_str)
df_labels_unsorted = pd.read_csv(labels_str)

In [20]:
pd.set_option('display.max_rows', 30)
pd.set_option('display.max_columns', None)

In [4]:
#finding pid of the argmax time and print all of the rows
time_arg_max = df_train_unsorted['Time'].argmax()
time_arg_max_pid = df_train_unsorted.iloc[time_arg_max].pid
df_time = df_train_unsorted[df_train_unsorted.pid == time_arg_max_pid]

In [5]:
df_train_sort = df_train_unsorted.sort_values(['pid','Time'], ascending=[True, True]).reset_index()
col = df_train_sort.columns.get_loc('Time')
num_of_row = df_train_sort.shape[0]
for i in range(num_of_row):
    df_train_sort.iat[i,col] = i%12 + 1

df_train_sort = df_train_sort.drop(columns='index')

In [ ]:
# df_train_sort is sorted by 'pid'&'Time'-labels and has increasing index
# df_train_sort

In [ ]:
df_first = df_train_sort.head(12).copy()
#df_first

In [ ]:
# just the first two patitients
# df_part = df_train_sort.head(12*2).copy()
# df_part

In [ ]:
# interpolated values for all partients if at least one value per colom

df_interpol = df_train_sort
for i in range(len(df_interpol.pid.unique())):
    if i%500 == 0:
        print(i)
    mask = df_interpol.loc[:,'pid'] == df_interpol.pid.unique()[i]
    df_interpol[mask] = df_interpol[mask].interpolate().fillna(method='bfill')

In [ ]:
pd.set_option('display.max_columns', None)

In [ ]:
df_interpol_means = df_interpol.copy()

In [ ]:
df_interpol_means = df_interpol_means.fillna(df_interpol_means.mean())

In [ ]:
df_labels

In [ ]:
df_labels = df_labels_unsorted.sort_values('pid', ascending=True).reset_index()

#col = df_train_sort.columns.get_loc('Time')
#num_of_row = df_train_sort.shape[0]
#for i in range(num_of_row):
#    df_train_sort.iat[i,col] = i%12 + 1

df_labels = df_labels.drop(columns='index')
df_labels

In [ ]:
# suppose df is a pandas dataframe containing the result
df_interpol.to_csv('data_interpolated.csv', index=False, float_format='%.3f')
df_interpol_means.to_csv('data_interpolated_means.csv', index=False, float_format='%.3f')
df_labels.to_csv('labels_sorted.csv', index=False, float_format='%.1f')

In [26]:
test_features = 'test_features.csv'
df_test = pd.read_csv(test_features)
df_test = df_test.drop(columns='Time')

In [29]:
#df_test.head(24)

In [31]:
df_test_short_means = df_test.head(24).copy()
df_test_short_means
for i in range(len(df_test_short_means.pid.unique())):
    #if i%500 == 0
    #    print(i)
    mask = df_test_short_means.loc[:,'pid'] == df_test_short_means.pid.unique()[i]
    df_test_short_means[mask] = df_test_short_means[mask].fillna(df_test_short_means[mask].mean())

df_test_short_means

,pid,Age,EtCO2,PTT,BUN,Lactate,Temp,Hgb,HCO3,BaseExcess,RRate,Fibrinogen,Phosphate,WBC,Creatinine,PaCO2,AST,FiO2,Platelets,SaO2,Glucose,ABPm,Magnesium,Potassium,ABPd,Calcium,Alkalinephos,SpO2,Bilirubin_direct,Chloride,Hct,Heartrate,Bilirubin_total,TroponinI,ABPs,pH
0,0,39.0,NaN,41.35,18.5,NaN,36.00,9.65,14.5,-6.5,11.714286,147.0,5.4,18.0,2.3,28.0,31.5,0.53,193.5,NaN,217.5,80.750000,2.35,4.15,64.500000,8.15,114.0,100.0,NaN,100.0,28.45,84.5,24.1,NaN,128.625000,7.37
1,0,39.0,NaN,44.20,17.0,NaN,36.00,10.20,13.0,-6.5,11.714286,147.0,6.0,17.5,2.2,28.0,32.0,0.60,194.0,NaN,273.0,77.000000,2.20,4.60,76.000000,8.00,119.0,100.0,NaN,98.0,31.00,82.0,21.8,NaN,119.000000,7.37
2,0,39.0,NaN,41.35,18.5,NaN,36.00,9.65,14.5,-9.0,13.000000,147.0,5.4,18.0,2.3,26.0,31.5,0.55,193.5,NaN,217.5,78.000000,2.35,4.15,72.500000,8.15,114.0,100.0,NaN,100.0,28.45,78.0,24.1,NaN,125.000000,7.34
3,0,39.0,NaN,41.35,18.5,NaN,36.00,9.65,14.5,-6.5,12.000000,147.0,5.4,18.0,2.3,28.0,31.5,0.50,193.5,NaN,217.5,87.000000,2.35,4.15,66.000000,8.15,114.0,100.0,NaN,100.0,28.45,80.0,24.1,NaN,136.000000,7.37
4,0,39.0,NaN,41.35,18.5,NaN,36.00,9.65,14.5,-6.5,11.714286,147.0,5.4,18.0,2.3,28.0,31.5,0.53,193.5,NaN,217.5,86.000000,2.35,4.15,65.000000,8.15,114.0,100.0,NaN,100.0,28.45,83.0,24.1,NaN,135.000000,7.37
5,0,39.0,NaN,41.35,18.5,NaN,36.00,9.65,14.5,-6.5,10.000000,147.0,5.4,18.0,2.3,28.0,31.5,0.53,193.5,NaN,217.5,89.000000,2.35,4.15,66.000000,8.15,114.0,100.0,NaN,100.0,28.45,88.0,24.1,NaN,144.000000,7.37
6,0,39.0,NaN,38.50,20.0,NaN,36.00,9.10,16.0,-6.5,12.000000,147.0,4.8,18.5,2.4,28.0,31.0,0.50,193.0,NaN,162.0,80.750000,2.50,3.70,64.500000,8.30,109.0,100.0,NaN,102.0,25.90,84.5,26.4,NaN,128.625000,7.37
7,0,39.0,NaN,41.35,18.5,NaN,36.00,9.65,14.5,-4.0,12.000000,147.0,5.4,18.0,2.3,30.0,31.5,0.50,193.5,NaN,217.5,80.000000,2.35,4.15,59.000000,8.15,114.0,100.0,NaN,100.0,28.45,90.0,24.1,NaN,129.000000,7.40
8,0,39.0,NaN,41.35,18.5,NaN,36.00,9.65,14.5,-6.5,12.000000,147.0,5.4,18.0,2.3,28.0,31.5,0.53,193.5,NaN,217.5,75.000000,2.35,4.15,56.500000,8.15,114.0,100.0,NaN,100.0,28.45,90.0,24.1,NaN,121.000000,7.37
9,0,39.0,NaN,41.35,18.5,NaN,36.00,9.65,14.5,-6.5,11.000000,147.0,5.4,18.0,2.3,28.0,31.5,0.53,193.5,NaN,217.5,74.000000,2.35,4.15,55.000000,8.15,114.0,100.0,NaN,100.0,28.45,85.0,24.1,NaN,120.000000,7.37
10,0,39.0,NaN,41.35,18.5,NaN,36.00,9.65,14.5,-6.5,11.714286,147.0,5.4,18.0,2.3,28.0,31.5,0.53,193.5,NaN,217.5,80.750000,2.35,4.15,64.500000,8.15,114.0,100.0,NaN,100.0,28.45,84.5,24.1,NaN,128.625000,7.37
11,0,39.0,NaN,41.35,18.5,NaN,36.00,9.65,14.5,-6.5,11.714286,147.0,5.4,18.0,2.3,28.0,31.5,0.53,193.5,NaN,217.5,80.750000,2.35,4.15,64.500000,8.15,114.0,100.0,NaN,100.0,28.45,84.5,24.1,NaN,128.625000,7.37
12,10001,62.0,NaN,NaN,NaN,NaN,37.25,NaN,NaN,NaN,16.666667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,91.555556,NaN,NaN,82.055556,NaN,NaN,94.2,NaN,NaN,NaN,111.4,NaN,NaN,111.444444,NaN
13,10001,62.0,NaN,NaN,NaN,NaN,37.25,NaN,NaN,NaN,17.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,86.000000,NaN,NaN,77.000000,NaN,NaN,94.0,NaN,NaN,NaN,124.0,NaN,NaN,104.000000,NaN
14,10001,62.0,NaN,NaN,NaN,NaN,37.00,NaN,NaN,NaN,17.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,87.000000,NaN,NaN,79.000000,NaN,NaN,96.0,NaN,NaN,NaN,118.0,NaN,NaN,100.000000,NaN
15,10001,62.0,NaN,NaN,NaN,NaN,37.00,NaN,NaN,NaN,18.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,88.000000,NaN,NaN,79.500000,NaN,NaN,97.0,NaN,NaN,NaN,102.0,NaN,NaN,106.000000,NaN
16,10001,62.0,NaN,NaN,NaN,NaN,37.25,NaN,NaN,NaN,18.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,92.000000,NaN,NaN,80.500000,NaN,NaN,94.0,NaN,NaN,NaN,124.0,NaN,NaN,124.000000,NaN
17,10001,62.0,NaN,NaN,NaN,NaN,37.25,NaN,NaN,NaN,15.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,94.000000,NaN,NaN,86.000000,NaN,NaN,95.0,NaN,NaN,NaN,114.0,NaN,NaN,110.000000,NaN
18,10001,62.0,NaN,NaN,NaN,NaN,37.00,NaN,NaN,NaN,15.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,90.000000,NaN,NaN,79.500000,NaN,NaN,94.0,NaN,NaN,NaN,108.0,NaN,NaN,112.000000,NaN
19,10001,62.0,NaN,NaN,NaN,NaN,37.25,NaN,NaN,NaN,16.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,90.000000,NaN,NaN,80.000000,NaN,NaN,92.0,NaN,NaN,NaN,106.0,NaN,NaN,108.000000,NaN
20,10001,62.0,NaN,NaN,NaN,NaN,37.25,NaN,NaN,NaN,16.666667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,91.555556,NaN,NaN,82.055556,NaN,NaN,94.2,NaN,NaN,NaN,111.4,NaN,NaN,111.444444,NaN
21,10001,62.0,NaN,NaN,NaN,NaN,37.25,NaN,NaN,NaN,18.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,92.000000,NaN,NaN,81.000000,NaN,NaN,94.0,NaN,NaN,NaN,116.0,NaN,NaN,122.000000,NaN
22,10001,62.0,NaN,NaN,NaN,NaN,37.25,NaN,NaN,NaN,16.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,105.000000,NaN,NaN,96.000000,NaN,NaN,94.0,NaN,NaN,NaN,109.0,NaN,NaN,117.000000,NaN
23,10001,62.0,NaN,NaN,NaN,NaN,38.00,NaN,NaN,NaN,16.666667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,91.555556,NaN,NaN,82.055556,NaN,NaN,92.0,NaN,NaN,NaN,93.0,NaN,NaN,111.444444,NaN

In [28]:
df_test_short_means = df_test.copy()
for i in range(len(df_test_interpol.pid.unique())):
    if i%500 == 0:
        print(i)
    mask = df_test_short_means.loc[:,'pid'] == df_test_short_means.pid.unique()[i]
    df_test_short_means[mask] = df_test_short_means[mask].fillna(df_test_short_means[mask].mean())

df_test_short_means

0

KeyboardInterrupt:

In [10]:
df_test_interpol = df_test_interpol.fillna(df_test_interpol.mean())
df_test_interpol

,pid,Time,Age,EtCO2,PTT,BUN,Lactate,Temp,Hgb,HCO3,BaseExcess,RRate,Fibrinogen,Phosphate,WBC,Creatinine,PaCO2,AST,FiO2,Platelets,SaO2,Glucose,ABPm,Magnesium,Potassium,ABPd,Calcium,Alkalinephos,SpO2,Bilirubin_direct,Chloride,Hct,Heartrate,Bilirubin_total,TroponinI,ABPs,pH
0,0,1,39.0,32.517389,44.20,17.000000,2.297472,36.000000,10.20,13.000000,-9.000000,13.0,147.000000,6.000000,17.5,2.20000,26.00000,32.000000,0.600000,194.0,93.165622,273.00,77.0,2.200000,4.600000,76.0,8.000000,119.000000,100.0,1.133628,98.000000,31.00,82.0,21.80000,6.417475,119.0,7.340000
1,0,2,39.0,32.517389,44.20,17.000000,2.297472,36.000000,10.20,13.000000,-9.000000,13.0,147.000000,6.000000,17.5,2.20000,26.00000,32.000000,0.600000,194.0,93.165622,273.00,77.0,2.200000,4.600000,76.0,8.000000,119.000000,100.0,1.133628,98.000000,31.00,82.0,21.80000,6.417475,119.0,7.340000
2,0,3,39.0,32.517389,43.06,17.600000,2.297472,36.000000,9.98,13.600000,-9.000000,13.0,147.000000,5.760000,17.7,2.24000,26.00000,31.800000,0.550000,193.8,93.165622,250.80,78.0,2.260000,4.420000,72.5,8.060000,117.000000,100.0,1.133628,98.800000,29.98,78.0,22.72000,6.417475,125.0,7.340000
3,0,4,39.0,32.517389,41.92,18.200000,2.297472,36.000000,9.76,14.200000,-8.000000,12.0,147.000000,5.520000,17.9,2.28000,26.80000,31.600000,0.500000,193.6,93.165622,228.60,87.0,2.320000,4.240000,66.0,8.120000,115.000000,100.0,1.133628,99.600000,28.96,80.0,23.64000,6.417475,136.0,7.352000
4,0,5,39.0,32.517389,40.78,18.800000,2.297472,36.000000,9.54,14.800000,-7.000000,11.0,147.000000,5.280000,18.1,2.32000,27.60000,31.400000,0.500000,193.4,93.165622,206.40,86.0,2.380000,4.060000,65.0,8.180000,113.000000,100.0,1.133628,100.400000,27.94,83.0,24.56000,6.417475,135.0,7.364000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
151963,31655,8,23.0,32.517389,56.80,23.048126,2.297472,38.000000,11.80,23.817398,-0.598053,15.0,271.543307,3.613306,16.7,1.45333,40.90698,191.651032,0.528935,206.0,93.165622,99.50,87.0,2.005437,4.113091,77.0,7.738252,98.402861,100.0,1.133628,106.004035,37.10,120.0,1.52193,6.967500,118.0,7.377886
151964,31655,9,23.0,32.517389,56.80,23.048126,2.297472,37.666667,11.80,23.817398,-0.598053,13.0,271.543307,3.613306,16.7,1.45333,40.90698,191.651032,0.528935,206.0,93.165622,100.25,85.0,2.005437,4.113091,73.5,7.738252,98.402861,100.0,1.133628,106.004035,37.10,117.0,1.52193,7.083750,121.0,7.377886
151965,31655,10,23.0,32.517389,56.80,23.048126,2.297472,37.333333,11.80,23.817398,-0.598053,13.0,271.543307,3.613306,16.7,1.45333,40.90698,191.651032,0.528935,206.0,93.165622,101.00,80.0,2.005437,4.113091,69.0,7.738252,98.402861,100.0,1.133628,106.004035,37.10,110.0,1.52193,7.200000,118.0,7.377886
151966,31655,11,23.0,32.517389,56.80,23.048126,2.297472,37.000000,11.80,23.817398,-0.598053,14.0,271.543307,3.613306,16.7,1.45333,40.90698,191.651032,0.528935,206.0,93.165622,101.00,78.0,2.005437,4.113091,66.0,7.738252,98.402861,100.0,1.133628,106.004035,37.10,104.0,1.52193,7.200000,116.0,7.377886
151967,31655,12,23.0,32.517389,56.80,23.048126,2.297472,37.000000,11.80,23.817398,-0.598053,14.0,271.543307,3.613306,16.7,1.45333,40.90698,191.651032,0.528935,206.0,93.165622,101.00,72.0,2.005437,4.113091,61.5,7.738252,98.402861,100.0,1.133628,106.004035,37.10,100.0,1.52193,7.200000,110.0,7.377886

In [11]:
df_test_interpol.to_csv('testdatat_interpolatet.csv', index=False, float_format='%.3f')