In [1]:
import pandas as pd
import numpy as np

In [2]:
train_str = 'Data/train_features_Sven_short.csv'
labels_str = 'Data/train_labels_sorted.csv'
df_train = pd.read_csv(train_str)
df_labels = pd.read_csv(labels_str)

In [3]:
pd.set_option('display.max_rows', 30)
pd.set_option('display.max_columns', None)

In [4]:
k = np.array(df_train.pid)
pid_in_test = np.random.choice(k, size=3000, replace=False)
pid_in_test.sort()

In [5]:
np_try = df_train.pid.to_list()
pid_in_test = list(pid_in_test)
pid_in_train = []
for k in np_try:
    if not k in pid_in_test:
        pid_in_train.append(k)

In [6]:
np_test = np.empty((len(pid_in_test),df_train.shape[1]))
np_test_label = np.empty((len(pid_in_test),df_labels.shape[1]))

for i in range(len(pid_in_test)):
    mask_train = df_train.loc[:,'pid'] == pid_in_test[i]
    mask_label = df_labels.loc[:,'pid'] == pid_in_test[i]
    np_test[i,:] = df_train[mask_train]
    np_test_label[i,:] = df_labels[mask_label]
    
df_train_test = pd.DataFrame(np_test, columns=df_train.columns)
df_train_test = df_train_test.astype({'Age':'int32'})
df_train_test = df_train_test.astype({'pid':'int32'})
df_train_test_label = pd.DataFrame(np_test_label, columns=df_labels.columns)
df_train_test_label = df_train_test_label.astype({'pid':'int32'})

In [7]:
df_train_test

,pid,Age,EtCO2,PTT,BUN,Lactate,Temp,Hgb,HCO3,BaseExcess,RRate,Fibrinogen,Phosphate,WBC,Creatinine,PaCO2,AST,FiO2,Platelets,SaO2,Glucose,ABPm,Magnesium,Potassium,ABPd,Calcium,Alkalinephos,SpO2,Bilirubin_direct,Chloride,Hct,Heartrate,Bilirubin_total,TroponinI,ABPs,pH
0,20,77,32.893,38.657,10.000,2.349,36.917,7.500,23.806,-0.762,32.125,302.00,3.617,0.900,0.800,40.822,44.00,0.658,25.000,93.271,136.000,90.667,1.900,3.500,71.333,8.100,81.000,98.083,1.172,105.922,23.100,115.000,2.000,0.040,126.917,7.377
1,23,82,32.893,85.400,16.000,1.725,36.770,9.513,22.625,-0.458,12.583,273.38,3.617,8.508,0.700,39.938,158.23,0.500,147.500,70.000,92.500,85.500,1.996,4.700,57.292,7.742,96.624,100.000,1.172,112.083,27.217,82.583,1.544,6.452,124.833,7.390
2,31,67,32.893,40.300,16.000,1.700,36.000,11.100,21.000,-1.000,17.583,199.00,2.700,8.200,0.500,34.000,158.23,0.658,91.000,93.271,88.000,93.833,1.900,3.200,73.917,6.900,96.624,94.833,1.172,108.000,32.800,79.500,1.544,6.452,139.750,7.410
3,34,75,32.893,28.600,67.750,1.200,35.750,9.900,25.000,0.083,14.833,208.50,4.367,11.892,1.725,50.375,42.00,0.550,130.750,98.000,209.250,67.750,2.725,3.467,60.375,7.408,94.000,99.583,1.172,106.583,28.075,65.083,0.700,6.452,103.250,7.328
4,41,76,32.893,39.200,30.000,2.349,36.292,8.633,22.000,-0.250,13.917,273.38,3.617,11.567,0.900,44.500,158.23,0.458,158.000,97.042,141.042,62.083,2.500,4.333,44.958,7.742,96.624,98.500,1.172,114.000,26.358,75.500,1.544,6.452,130.667,7.361
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,31602,43,32.893,38.657,57.583,2.349,36.000,9.738,24.583,1.458,13.958,598.00,4.100,12.737,10.200,35.500,14.00,0.500,511.000,93.271,130.000,99.625,1.600,4.896,74.833,7.900,74.000,100.000,1.172,94.458,29.633,72.250,1.544,6.452,121.167,7.458
2996,31608,82,10.000,38.657,23.001,6.505,36.750,10.754,23.806,-0.762,16.500,273.38,3.617,11.567,1.470,35.000,158.23,0.400,210.727,93.271,130.875,83.167,1.996,3.983,51.500,1.121,96.624,99.000,1.172,107.542,32.022,78.333,1.544,6.452,143.250,7.299
2997,31621,73,27.708,38.657,15.000,2.349,36.000,13.000,23.806,-0.762,13.333,273.38,4.100,14.200,1.340,33.000,158.23,0.500,168.000,99.000,159.854,76.583,1.600,3.700,53.792,8.100,96.624,100.000,1.172,105.922,38.400,63.333,1.544,6.452,125.833,7.420
2998,31643,81,32.893,30.500,16.000,2.349,37.083,11.400,23.000,-3.500,12.333,273.38,3.617,11.567,0.600,37.625,158.23,0.585,210.727,81.792,161.958,72.167,2.200,4.375,53.625,7.742,96.624,99.333,1.172,110.000,32.929,87.417,1.544,6.452,110.000,7.350
2999,31658,60,32.893,38.657,13.000,2.349,36.583,14.400,23.806,-0.762,18.120,273.38,3.617,4.600,0.710,40.822,158.23,0.658,164.000,93.271,102.500,95.250,1.900,3.600,73.583,8.800,96.624,96.000,1.172,105.922,40.200,67.250,1.544,6.452,133.167,7.377

In [8]:
df_train_test_label

,pid,LABEL_BaseExcess,LABEL_Fibrinogen,LABEL_AST,LABEL_Alkalinephos,LABEL_Bilirubin_total,LABEL_Lactate,LABEL_TroponinI,LABEL_SaO2,LABEL_Bilirubin_direct,LABEL_EtCO2,LABEL_Sepsis,LABEL_RRate,LABEL_ABPm,LABEL_SpO2,LABEL_Heartrate
0,20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,41.1,86.9,96.8,120.9
1,23,1.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,15.0,62.7,97.9,67.8
2,31,1.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,13.4,94.4,96.4,73.4
3,34,1.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,15.8,76.9,97.1,89.6
4,41,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,13.8,69.5,96.9,88.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,31602,1.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,17.8,81.7,99.8,76.0
2996,31608,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,17.6,87.4,98.0,89.3
2997,31621,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,14.9,80.3,98.1,68.3
2998,31643,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,22.6,67.6,95.3,87.1
2999,31658,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,16.8,104.4,96.2,67.3

In [9]:
np_train = np.empty((df_train.shape[0]-len(pid_in_test),df_train.shape[1]))
np_train_label = np.empty((df_labels.shape[0]-len(pid_in_test),df_labels.shape[1]))

for i in range(len(pid_in_train)):
    mask_train = df_train.loc[:,'pid'] == pid_in_train[i]
    mask_label = df_labels.loc[:,'pid'] == pid_in_train[i]
    np_train[i,:] = df_train[mask_train]
    np_train_label[i,:] = df_labels[mask_label]
    
df_train_train = pd.DataFrame(np_train, columns=df_train.columns)
df_train_train = df_train_train.astype({'Age':'int32'})
df_train_train = df_train_train.astype({'pid':'int32'})
df_train_train_label = pd.DataFrame(np_train_label, columns=df_labels.columns)
df_train_train_label = df_train_train_label.astype({'pid':'int32'})

In [10]:
df_train_train

,pid,Age,EtCO2,PTT,BUN,Lactate,Temp,Hgb,HCO3,BaseExcess,RRate,Fibrinogen,Phosphate,WBC,Creatinine,PaCO2,AST,FiO2,Platelets,SaO2,Glucose,ABPm,Magnesium,Potassium,ABPd,Calcium,Alkalinephos,SpO2,Bilirubin_direct,Chloride,Hct,Heartrate,Bilirubin_total,TroponinI,ABPs,pH
0,1,34,32.893,38.657,12.000,2.349,37.042,8.575,25.250,-0.333,17.000,273.38,4.600,5.300,0.500,42.750,158.23,0.417,143.000,93.271,120.000,68.333,1.800,3.987,50.250,7.600,96.624,100.000,1.172,112.125,23.242,77.083,1.544,6.452,114.500,7.382
1,2,86,32.893,31.800,32.000,2.349,36.000,13.100,23.806,-0.762,18.500,273.38,3.800,9.300,2.120,40.822,158.23,0.658,226.000,93.271,117.667,95.583,2.100,3.800,70.667,9.500,96.624,96.000,1.172,105.922,40.200,59.000,1.544,0.440,132.583,7.377
2,4,66,32.893,34.600,8.000,2.349,36.542,10.475,23.806,-0.762,14.000,273.38,3.100,7.683,0.543,40.822,34.00,0.658,267.333,93.271,103.979,80.333,2.504,3.533,50.583,8.167,130.000,99.333,0.100,105.922,33.292,72.167,0.600,0.020,127.167,7.377
3,6,66,32.893,53.800,32.000,1.800,37.167,10.408,19.250,-2.833,15.833,273.38,3.100,39.700,1.375,39.625,158.23,0.529,105.000,93.708,114.542,65.750,3.100,4.588,48.833,7.800,96.624,99.333,1.172,112.250,30.500,87.333,1.544,6.452,100.667,7.348
4,8,42,32.893,38.657,18.000,2.349,36.000,10.754,23.806,-0.762,17.167,273.38,3.300,11.567,6.460,40.822,158.23,0.658,210.727,93.271,118.000,142.750,2.100,4.300,108.833,7.900,96.624,97.667,1.172,105.922,32.022,80.833,1.544,0.080,205.833,7.377
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15990,31650,66,32.893,25.200,17.000,1.600,36.708,9.800,25.000,1.000,28.375,273.38,3.900,29.100,0.400,48.000,96.00,1.000,41.000,93.271,156.000,65.792,1.700,4.600,44.542,7.400,735.000,99.625,1.172,97.000,30.500,107.917,1.700,6.452,103.042,7.380
15991,31653,52,32.893,25.800,11.000,1.633,36.000,9.600,22.583,0.000,15.500,633.00,4.400,17.142,0.700,49.000,158.23,0.658,489.000,93.271,137.000,66.250,2.150,4.858,48.125,7.900,96.624,96.333,1.172,106.000,31.363,107.750,1.544,6.452,86.583,7.330
15992,31654,66,32.893,38.657,32.667,2.349,37.458,11.200,23.806,-0.762,16.667,273.38,5.367,2.000,10.313,40.822,158.23,0.658,124.000,93.271,94.667,122.750,2.100,5.667,94.458,8.533,96.624,95.917,1.172,105.922,34.600,91.500,1.544,6.452,165.083,7.377
15993,31656,44,32.893,38.657,15.000,2.349,38.000,12.400,24.000,-3.125,24.583,273.38,3.617,24.000,0.700,45.333,158.23,0.400,345.000,93.271,115.000,80.000,1.996,4.000,65.167,7.742,96.624,100.000,1.172,97.000,36.700,99.417,1.544,6.452,101.750,7.307
15994,31657,70,32.893,38.657,23.001,2.349,36.458,10.754,23.806,-0.762,15.000,273.38,3.617,11.567,1.470,40.822,158.23,0.658,210.727,93.271,138.977,73.708,1.996,4.115,63.042,7.742,96.624,99.125,1.172,105.922,32.022,64.250,1.544,6.452,111.042,7.377

In [11]:
df_train_train_label

,pid,LABEL_BaseExcess,LABEL_Fibrinogen,LABEL_AST,LABEL_Alkalinephos,LABEL_Bilirubin_total,LABEL_Lactate,LABEL_TroponinI,LABEL_SaO2,LABEL_Bilirubin_direct,LABEL_EtCO2,LABEL_Sepsis,LABEL_RRate,LABEL_ABPm,LABEL_SpO2,LABEL_Heartrate
0,1,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,12.1,85.4,100.0,59.9
1,2,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,20.4,99.1,95.4,65.8
2,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,17.8,78.8,97.4,71.8
3,6,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,17.9,75.1,97.3,80.7
4,8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,18.7,112.8,97.0,92.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15990,31650,1.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,18.2,76.8,99.1,99.8
15991,31653,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,18.5,97.0,95.3,101.4
15992,31654,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,19.2,119.2,97.6,91.8
15993,31656,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,21.0,93.8,99.2,92.2
15994,31657,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,17.8,72.5,98.7,64.0

In [12]:
df_train_test.to_csv('Data/train_features_test.csv', index=False, float_format='%.3f')
df_train_test_label.to_csv('Data/train_labels_test.csv', index=False, float_format='%.3f')

In [13]:
df_train_train.to_csv('Data/train_features_train.csv', index=False, float_format='%.3f')
df_train_train_label.to_csv('Data/train_labels_train.csv', index=False, float_format='%.3f')

In [14]:
#df_train_short.to_csv('Data/data_Sven_short.csv', index=False, float_format='%.3f')