In [1]:
import pandas as pd
import numpy as np
import sklearn as sk

In [2]:
train_str = 'train_features.csv'
labels_str = 'train_labels.csv'
df_train_unsorted = pd.read_csv(train_str)
df_labels = pd.read_csv(labels_str)

In [3]:
TEST1 = ['LABEL_BaseExcess', 'LABEL_Fibrinogen', 'LABEL_AST', 'LABEL_Alkalinephos', 'LABEL_Bilirubin_total', 'LABEL_Lactate',
         'LABEL_TroponinI', 'LABEL_SaO2', 'LABEL_Bilirubin_direct', 'LABEL_EtCO2']
TEST2 = ['LABEL_Sepsis']
TEST3 = ['LABEL_RRate', 'LABEL_ABPm', 'LABEL_SpO2', 'LABEL_Heartrate']

df_subtask1 = df_labels[TEST1]
df_subtask2 = df_labels[TEST2]
df_subtask3 = df_labels[TEST3]

In [10]:
pd.set_option('display.max_rows', 24)
pd.set_option('display.columns', 37)

In [5]:
#finding pid of the argmax time and print all of the rows
time_arg_max = df_train_unsorted['Time'].argmax()
time_arg_max_pid = df_train_unsorted.iloc[time_arg_max].pid
df_time = df_train_unsorted[df_train_unsorted.pid == time_arg_max_pid]

In [6]:
df_train_sort = df_train_unsorted.sort_values(['pid','Time'], ascending=[True, True]).reset_index()
col = df_train_sort.columns.get_loc('Time')
num_of_row = df_train_sort.shape[0]
for i in range(num_of_row):
    df_train_sort.iat[i,col] = i%12 + 1

df_train_sort = df_train_sort.drop(columns='index')

In [ ]:
# df_train_sort is sorted by 'pid'&'Time'-labels and has increasing index
# df_train_sort

In [13]:
df_try = df_train_sort.head(12).copy()
df_try = df_try.interpolate()
df_try

,pid,Time,Age,EtCO2,PTT,BUN,Lactate,Temp,Hgb,HCO3,BaseExcess,RRate,Fibrinogen,Phosphate,WBC,Creatinine,PaCO2,AST,FiO2,Platelets,SaO2,Glucose,ABPm,Magnesium,Potassium,ABPd,Calcium,Alkalinephos,SpO2,Bilirubin_direct,Chloride,Hct,Heartrate,Bilirubin_total,TroponinI,ABPs,pH
0,1,1,34.0,NaN,NaN,12.0,NaN,36.0,8.700,24.00,-2.0,16.0,NaN,NaN,6.3,NaN,45.000000,NaN,NaN,NaN,NaN,NaN,84.0,1.20,3.8000,61.0,NaN,NaN,100.0,NaN,114.000,24.600000,94.0,NaN,NaN,142.0,7.330
1,1,2,34.0,NaN,NaN,12.0,NaN,36.0,8.675,24.25,-2.0,16.0,NaN,NaN,6.1,NaN,44.000000,NaN,0.5,NaN,NaN,NaN,81.0,1.35,3.8375,62.5,NaN,NaN,100.0,NaN,113.625,24.050000,99.0,NaN,NaN,125.0,7.330
2,1,3,34.0,NaN,NaN,12.0,NaN,36.0,8.650,24.50,0.0,18.0,NaN,NaN,5.9,NaN,43.000000,NaN,0.4,NaN,NaN,NaN,74.0,1.50,3.8750,59.0,NaN,NaN,100.0,NaN,113.250,23.500000,92.0,NaN,NaN,110.0,7.370
3,1,4,34.0,NaN,NaN,12.0,NaN,37.0,8.625,24.75,0.0,18.0,NaN,NaN,5.7,NaN,42.857143,NaN,0.4,NaN,NaN,NaN,66.0,1.65,3.9125,49.5,NaN,NaN,100.0,NaN,112.875,22.950000,88.0,NaN,NaN,104.0,7.370
4,1,5,34.0,NaN,NaN,12.0,NaN,37.0,8.600,25.00,0.0,18.0,NaN,NaN,5.5,NaN,42.714286,NaN,0.4,NaN,NaN,NaN,63.0,1.80,3.9500,48.0,NaN,NaN,100.0,NaN,112.500,22.400000,81.0,NaN,NaN,100.0,7.410
5,1,6,34.0,NaN,NaN,12.0,NaN,37.0,8.575,25.25,0.0,16.0,NaN,NaN,5.3,NaN,42.571429,NaN,0.4,NaN,NaN,NaN,68.0,1.80,3.9875,51.0,NaN,NaN,100.0,NaN,112.125,22.400000,82.0,NaN,NaN,106.0,7.406
6,1,7,34.0,NaN,NaN,12.0,NaN,37.0,8.550,25.50,0.0,18.0,NaN,NaN,5.1,NaN,42.428571,NaN,0.4,NaN,NaN,NaN,65.0,1.90,4.0250,46.0,NaN,NaN,100.0,NaN,111.750,22.866667,67.0,NaN,NaN,112.0,7.402
7,1,8,34.0,NaN,NaN,12.0,NaN,37.0,8.525,25.75,0.0,18.0,NaN,NaN,4.9,NaN,42.285714,NaN,0.4,NaN,NaN,NaN,68.0,2.00,4.0625,47.0,NaN,NaN,100.0,NaN,111.375,23.333333,62.0,NaN,NaN,121.0,7.398
8,1,9,34.0,NaN,NaN,12.0,NaN,37.5,8.500,26.00,0.0,12.0,NaN,4.6,4.7,0.5,42.142857,NaN,0.4,143.0,NaN,120.0,67.0,2.10,4.1000,47.0,7.6,NaN,100.0,NaN,111.000,23.800000,58.0,NaN,NaN,118.0,7.394
9,1,10,34.0,NaN,NaN,12.0,NaN,38.0,8.500,26.00,0.0,18.0,NaN,4.6,4.7,0.5,42.000000,NaN,0.4,143.0,NaN,120.0,62.0,2.10,4.1000,44.0,7.6,NaN,100.0,NaN,111.000,23.800000,66.0,NaN,NaN,110.0,7.390
10,1,11,34.0,NaN,NaN,12.0,NaN,38.0,8.500,26.00,0.0,18.0,NaN,4.6,4.7,0.5,42.000000,NaN,0.4,143.0,NaN,120.0,69.0,2.10,4.1000,49.0,7.6,NaN,100.0,NaN,111.000,23.000000,67.0,NaN,NaN,124.0,7.390
11,1,12,34.0,NaN,NaN,12.0,NaN,38.0,8.500,26.00,0.0,18.0,NaN,4.6,4.7,0.5,42.000000,NaN,0.4,143.0,NaN,120.0,53.0,2.10,4.1000,39.0,7.6,NaN,100.0,NaN,111.000,22.200000,69.0,NaN,NaN,102.0,7.390

In [11]:
df_part = df_train_sort.head(12*2).copy()

In [12]:
df_part

,pid,Time,Age,EtCO2,PTT,BUN,Lactate,Temp,Hgb,HCO3,BaseExcess,RRate,Fibrinogen,Phosphate,WBC,Creatinine,PaCO2,AST,FiO2,Platelets,SaO2,Glucose,ABPm,Magnesium,Potassium,ABPd,Calcium,Alkalinephos,SpO2,Bilirubin_direct,Chloride,Hct,Heartrate,Bilirubin_total,TroponinI,ABPs,pH
0,1,1,34.0,NaN,NaN,12.0,NaN,36.0,8.7,24.0,-2.0,16.0,NaN,NaN,6.3,NaN,45.0,NaN,NaN,NaN,NaN,NaN,84.0,1.2,3.8,61.0,NaN,NaN,100.0,NaN,114.0,24.6,94.0,NaN,NaN,142.0,7.33
1,1,2,34.0,NaN,NaN,NaN,NaN,36.0,NaN,NaN,-2.0,16.0,NaN,NaN,NaN,NaN,NaN,NaN,0.5,NaN,NaN,NaN,81.0,NaN,NaN,62.5,NaN,NaN,100.0,NaN,NaN,NaN,99.0,NaN,NaN,125.0,7.33
2,1,3,34.0,NaN,NaN,NaN,NaN,36.0,NaN,NaN,0.0,18.0,NaN,NaN,NaN,NaN,43.0,NaN,0.4,NaN,NaN,NaN,74.0,NaN,NaN,59.0,NaN,NaN,100.0,NaN,NaN,NaN,92.0,NaN,NaN,110.0,7.37
3,1,4,34.0,NaN,NaN,NaN,NaN,37.0,NaN,NaN,0.0,18.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,66.0,NaN,NaN,49.5,NaN,NaN,100.0,NaN,NaN,NaN,88.0,NaN,NaN,104.0,7.37
4,1,5,34.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,63.0,1.8,NaN,48.0,NaN,NaN,100.0,NaN,NaN,22.4,81.0,NaN,NaN,100.0,7.41
5,1,6,34.0,NaN,NaN,NaN,NaN,37.0,NaN,NaN,NaN,16.0,NaN,NaN,NaN,NaN,NaN,NaN,0.4,NaN,NaN,NaN,68.0,1.8,NaN,51.0,NaN,NaN,100.0,NaN,NaN,22.4,82.0,NaN,NaN,106.0,NaN
6,1,7,34.0,NaN,NaN,NaN,NaN,37.0,NaN,NaN,NaN,18.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,65.0,NaN,NaN,46.0,NaN,NaN,100.0,NaN,NaN,NaN,67.0,NaN,NaN,112.0,NaN
7,1,8,34.0,NaN,NaN,NaN,NaN,37.0,NaN,NaN,NaN,18.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,68.0,NaN,NaN,47.0,NaN,NaN,100.0,NaN,NaN,NaN,62.0,NaN,NaN,121.0,NaN
8,1,9,34.0,NaN,NaN,12.0,NaN,NaN,8.5,26.0,NaN,12.0,NaN,4.6,4.7,0.50,NaN,NaN,NaN,143.0,NaN,120.0,67.0,2.1,4.1,47.0,7.6,NaN,100.0,NaN,111.0,23.8,58.0,NaN,NaN,118.0,NaN
9,1,10,34.0,NaN,NaN,12.0,NaN,38.0,8.5,26.0,0.0,18.0,NaN,NaN,4.7,NaN,42.0,NaN,0.4,NaN,NaN,NaN,62.0,2.1,4.1,44.0,NaN,NaN,100.0,NaN,111.0,23.8,66.0,NaN,NaN,110.0,7.39
10,1,11,34.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,18.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,69.0,NaN,NaN,49.0,NaN,NaN,100.0,NaN,NaN,NaN,67.0,NaN,NaN,124.0,7.39
11,1,12,34.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,53.0,NaN,NaN,39.0,NaN,NaN,100.0,NaN,NaN,22.2,69.0,NaN,NaN,102.0,NaN
12,2,1,86.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,2,2,86.0,NaN,NaN,NaN,NaN,36.0,NaN,NaN,NaN,24.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,91.0,106.0,NaN,NaN,77.0,NaN,NaN,96.0,NaN,NaN,NaN,59.0,NaN,NaN,148.0,NaN
14,2,3,86.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,84.0,NaN,NaN,58.0,NaN,NaN,95.0,NaN,NaN,NaN,59.0,NaN,NaN,127.0,NaN
15,2,4,86.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,95.0,NaN,NaN,66.0,NaN,NaN,94.0,NaN,NaN,NaN,59.0,NaN,NaN,140.0,NaN
16,2,5,86.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,96.0,NaN,NaN,79.0,NaN,NaN,97.0,NaN,NaN,NaN,59.0,NaN,NaN,120.0,NaN
17,2,6,86.0,NaN,NaN,NaN,NaN,36.0,NaN,NaN,NaN,12.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,86.0,NaN,NaN,62.0,NaN,NaN,97.0,NaN,NaN,NaN,59.0,NaN,NaN,122.0,NaN
18,2,7,86.0,NaN,31.8,32.0,NaN,NaN,13.1,NaN,NaN,19.0,NaN,3.8,9.3,2.12,NaN,NaN,NaN,226.0,NaN,131.0,100.0,2.1,3.8,72.0,9.5,NaN,98.0,NaN,NaN,40.2,59.0,NaN,0.44,138.0,NaN
19,2,8,86.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,97.0,NaN,NaN,72.0,NaN,NaN,96.0,NaN,NaN,NaN,59.0,NaN,NaN,132.0,NaN
20,2,9,86.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,89.0,NaN,NaN,65.0,NaN,NaN,95.0,NaN,NaN,NaN,59.0,NaN,NaN,125.0,NaN
21,2,10,86.0,NaN,NaN,NaN,NaN,36.0,NaN,NaN,NaN,12.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,95.0,NaN,NaN,73.0,NaN,NaN,98.0,NaN,NaN,NaN,59.0,NaN,NaN,129.0,NaN
22,2,11,86.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,94.0,NaN,NaN,71.0,NaN,NaN,96.0,NaN,NaN,NaN,59.0,NaN,NaN,126.0,NaN
23,2,12,86.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,99.0,NaN,NaN,76.0,NaN,NaN,94.0,NaN,NaN,NaN,59.0,NaN,NaN,136.0,NaN

In [9]:
df_try = df_train_sort.head(12*2).copy()

for i in range(len(df_try.pid.unique())):
    mask = df_try.loc[:,'pid'] == df_try.pid.unique()[i]
    df_try[mask] = df_try[mask].interpolate()

df_try
    
#for i in range(12):
#    print(f'row {12+i}: {df_part.iloc[12+i,6]}')

#for i in range(len(df.filename.unique())):
#      mask = df.loc[:,'filename']==df.filename.unique()[i]
#      df[mask]=dfs[mask].interpolate(method='index')

0      True
1      True
2      True
3      True
4      True
5      True
6      True
7      True
8      True
9      True
10     True
11     True
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
Name: pid, dtype: bool
0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12     True
13     True
14     True
15     True
16     True
17     True
18     True
19     True
20     True
21     True
22     True
23     True
Name: pid, dtype: bool

,pid,Time,Age,EtCO2,PTT,BUN,Lactate,Temp,Hgb,HCO3,...,Alkalinephos,SpO2,Bilirubin_direct,Chloride,Hct,Heartrate,Bilirubin_total,TroponinI,ABPs,pH
0,1,1,34.0,NaN,NaN,12.0,NaN,36.0,8.700,24.00,...,NaN,100.0,NaN,114.000,24.600000,94.0,NaN,NaN,142.0,7.330
1,1,2,34.0,NaN,NaN,12.0,NaN,36.0,8.675,24.25,...,NaN,100.0,NaN,113.625,24.050000,99.0,NaN,NaN,125.0,7.330
2,1,3,34.0,NaN,NaN,12.0,NaN,36.0,8.650,24.50,...,NaN,100.0,NaN,113.250,23.500000,92.0,NaN,NaN,110.0,7.370
3,1,4,34.0,NaN,NaN,12.0,NaN,37.0,8.625,24.75,...,NaN,100.0,NaN,112.875,22.950000,88.0,NaN,NaN,104.0,7.370
4,1,5,34.0,NaN,NaN,12.0,NaN,37.0,8.600,25.00,...,NaN,100.0,NaN,112.500,22.400000,81.0,NaN,NaN,100.0,7.410
5,1,6,34.0,NaN,NaN,12.0,NaN,37.0,8.575,25.25,...,NaN,100.0,NaN,112.125,22.400000,82.0,NaN,NaN,106.0,7.406
6,1,7,34.0,NaN,NaN,12.0,NaN,37.0,8.550,25.50,...,NaN,100.0,NaN,111.750,22.866667,67.0,NaN,NaN,112.0,7.402
7,1,8,34.0,NaN,NaN,12.0,NaN,37.0,8.525,25.75,...,NaN,100.0,NaN,111.375,23.333333,62.0,NaN,NaN,121.0,7.398
8,1,9,34.0,NaN,NaN,12.0,NaN,37.5,8.500,26.00,...,NaN,100.0,NaN,111.000,23.800000,58.0,NaN,NaN,118.0,7.394
9,1,10,34.0,NaN,NaN,12.0,NaN,38.0,8.500,26.00,...,NaN,100.0,NaN,111.000,23.800000,66.0,NaN,NaN,110.0,7.390
10,1,11,34.0,NaN,NaN,12.0,NaN,38.0,8.500,26.00,...,NaN,100.0,NaN,111.000,23.000000,67.0,NaN,NaN,124.0,7.390
11,1,12,34.0,NaN,NaN,12.0,NaN,38.0,8.500,26.00,...,NaN,100.0,NaN,111.000,22.200000,69.0,NaN,NaN,102.0,7.390
12,2,1,86.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,2,2,86.0,NaN,NaN,NaN,NaN,36.0,NaN,NaN,...,NaN,96.0,NaN,NaN,NaN,59.0,NaN,NaN,148.0,NaN
14,2,3,86.0,NaN,NaN,NaN,NaN,36.0,NaN,NaN,...,NaN,95.0,NaN,NaN,NaN,59.0,NaN,NaN,127.0,NaN
15,2,4,86.0,NaN,NaN,NaN,NaN,36.0,NaN,NaN,...,NaN,94.0,NaN,NaN,NaN,59.0,NaN,NaN,140.0,NaN
16,2,5,86.0,NaN,NaN,NaN,NaN,36.0,NaN,NaN,...,NaN,97.0,NaN,NaN,NaN,59.0,NaN,NaN,120.0,NaN
17,2,6,86.0,NaN,NaN,NaN,NaN,36.0,NaN,NaN,...,NaN,97.0,NaN,NaN,NaN,59.0,NaN,NaN,122.0,NaN
18,2,7,86.0,NaN,31.8,32.0,NaN,36.0,13.100,NaN,...,NaN,98.0,NaN,NaN,40.200000,59.0,NaN,0.44,138.0,NaN
19,2,8,86.0,NaN,31.8,32.0,NaN,36.0,13.100,NaN,...,NaN,96.0,NaN,NaN,40.200000,59.0,NaN,0.44,132.0,NaN
20,2,9,86.0,NaN,31.8,32.0,NaN,36.0,13.100,NaN,...,NaN,95.0,NaN,NaN,40.200000,59.0,NaN,0.44,125.0,NaN
21,2,10,86.0,NaN,31.8,32.0,NaN,36.0,13.100,NaN,...,NaN,98.0,NaN,NaN,40.200000,59.0,NaN,0.44,129.0,NaN
22,2,11,86.0,NaN,31.8,32.0,NaN,36.0,13.100,NaN,...,NaN,96.0,NaN,NaN,40.200000,59.0,NaN,0.44,126.0,NaN
23,2,12,86.0,NaN,31.8,32.0,NaN,36.0,13.100,NaN,...,NaN,94.0,NaN,NaN,40.200000,59.0,NaN,0.44,136.0,NaN

In [ ]:
df_try_2 = df_try[df_try.loc[:,'pid'] == 2].copy()
df_try_2

In [ ]:
df = df_part.copy()
df.reset_index(drop=True)
df

In [ ]:
#train_features = train_features.drop(columns='Time')
#train_features = train_features.drop(columns='HCO3')
#train_features = train_features.drop(columns='ABPm')
#train_features = train_features.fillna(train_features.mean())
#df_train_sort_nonNaN


train_features = df_train_sort_nonNaN.to_numpy()
pids = np.unique(train_features[:,0])
#print(len(pids))
# have to somehow exclude age?

train_features = train_features[:,1:]
train_features = train_features.reshape((len(pids),12*train_features.shape[-1]))
#print(train_features.shape)

In [ ]:
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
df_train_nopid_time = df_train_sort_nonNaN.drop(columns=['pid','Time'])
#print(df_train_nopid_time)
X = df_train_sort_nonNaN.to_numpy(dtype=float)
#print(X.shape)
y = df_subtask1['LABEL_BaseExcess'].to_numpy(dtype=float)
clf = LinearDiscriminantAnalysis()
#print(y.shape)

In [ ]:
#c = clf.fit(X, y)