In [1]:
import pandas as pd
import numpy as np

In [2]:
train_str = 'train_features.csv'
labels_str = 'train_labels.csv'
df_train_unsorted = pd.read_csv(train_str)
df_labels_unsorted = pd.read_csv(labels_str)

In [20]:
pd.set_option('display.max_rows', 30)
pd.set_option('display.max_columns', None)

In [4]:
#finding pid of the argmax time and print all of the rows
time_arg_max = df_train_unsorted['Time'].argmax()
time_arg_max_pid = df_train_unsorted.iloc[time_arg_max].pid
df_time = df_train_unsorted[df_train_unsorted.pid == time_arg_max_pid]

In [5]:
df_train_sort = df_train_unsorted.sort_values(['pid','Time'], ascending=[True, True]).reset_index()
col = df_train_sort.columns.get_loc('Time')
num_of_row = df_train_sort.shape[0]
for i in range(num_of_row):
    df_train_sort.iat[i,col] = i%12 + 1

df_train_sort = df_train_sort.drop(columns='index')

In [ ]:
# df_train_sort is sorted by 'pid'&'Time'-labels and has increasing index
# df_train_sort

In [ ]:
df_first = df_train_sort.head(12).copy()
#df_first

In [ ]:
# just the first two patitients
# df_part = df_train_sort.head(12*2).copy()
# df_part

In [ ]:
# interpolated values for all partients if at least one value per colom

df_interpol = df_train_sort
for i in range(len(df_interpol.pid.unique())):
    if i%500 == 0:
        print(i)
    mask = df_interpol.loc[:,'pid'] == df_interpol.pid.unique()[i]
    df_interpol[mask] = df_interpol[mask].interpolate().fillna(method='bfill')

In [ ]:
pd.set_option('display.max_columns', None)

In [ ]:
df_interpol_means = df_interpol.copy()

In [ ]:
df_interpol_means = df_interpol_means.fillna(df_interpol_means.mean())

In [ ]:
df_labels

In [ ]:
df_labels = df_labels_unsorted.sort_values('pid', ascending=True).reset_index()

#col = df_train_sort.columns.get_loc('Time')
#num_of_row = df_train_sort.shape[0]
#for i in range(num_of_row):
#    df_train_sort.iat[i,col] = i%12 + 1

df_labels = df_labels.drop(columns='index')
df_labels

In [ ]:
# suppose df is a pandas dataframe containing the result
df_interpol.to_csv('data_interpolated.csv', index=False, float_format='%.3f')
df_interpol_means.to_csv('data_interpolated_means.csv', index=False, float_format='%.3f')
df_labels.to_csv('labels_sorted.csv', index=False, float_format='%.1f')

In [26]:
test_features = 'test_features.csv'
df_test = pd.read_csv(test_features)
df_test = df_test.drop(columns='Time')

In [29]:
#df_test.head(24)

In [33]:
df_test_short_means = df_test.copy()
df_test_short_means
for i in range(len(df_test_short_means.pid.unique())):
    if i%500 == 0:
        print(i)
    mask = df_test_short_means.loc[:,'pid'] == df_test_short_means.pid.unique()[i]
    df_test_short_means[mask] = df_test_short_means[mask].fillna(df_test_short_means[mask].mean())

df_test_short_means = df_test_short_means.fillna(df_test_short_means.mean())
df_test_short_means

0
500
1000
1500
2000
2500
3000
3500
4000
4500
5000
5500
6000
6500
7000
7500
8000
8500
9000
9500
10000
10500
11000
11500
12000
12500

,pid,Age,EtCO2,PTT,BUN,Lactate,Temp,Hgb,HCO3,BaseExcess,RRate,Fibrinogen,Phosphate,WBC,Creatinine,PaCO2,AST,FiO2,Platelets,SaO2,Glucose,ABPm,Magnesium,Potassium,ABPd,Calcium,Alkalinephos,SpO2,Bilirubin_direct,Chloride,Hct,Heartrate,Bilirubin_total,TroponinI,ABPs,pH
0,0,39.0,NaN,41.35,18.5,NaN,36.00,9.65,14.5,-6.5,11.714286,147.0,5.4,18.0,2.3,28.0,31.5,0.530000,193.5,NaN,217.5,80.75,2.35,4.15,64.5,8.15,114.0,100.0,NaN,100.0,28.45,84.5,24.1,NaN,128.625,7.37
1,0,39.0,NaN,44.20,17.0,NaN,36.00,10.20,13.0,-6.5,11.714286,147.0,6.0,17.5,2.2,28.0,32.0,0.600000,194.0,NaN,273.0,77.00,2.20,4.60,76.0,8.00,119.0,100.0,NaN,98.0,31.00,82.0,21.8,NaN,119.000,7.37
2,0,39.0,NaN,41.35,18.5,NaN,36.00,9.65,14.5,-9.0,13.000000,147.0,5.4,18.0,2.3,26.0,31.5,0.550000,193.5,NaN,217.5,78.00,2.35,4.15,72.5,8.15,114.0,100.0,NaN,100.0,28.45,78.0,24.1,NaN,125.000,7.34
3,0,39.0,NaN,41.35,18.5,NaN,36.00,9.65,14.5,-6.5,12.000000,147.0,5.4,18.0,2.3,28.0,31.5,0.500000,193.5,NaN,217.5,87.00,2.35,4.15,66.0,8.15,114.0,100.0,NaN,100.0,28.45,80.0,24.1,NaN,136.000,7.37
4,0,39.0,NaN,41.35,18.5,NaN,36.00,9.65,14.5,-6.5,11.714286,147.0,5.4,18.0,2.3,28.0,31.5,0.530000,193.5,NaN,217.5,86.00,2.35,4.15,65.0,8.15,114.0,100.0,NaN,100.0,28.45,83.0,24.1,NaN,135.000,7.37
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
151963,9997,57.0,NaN,27.30,20.0,NaN,37.75,9.90,20.0,-4.0,14.000000,NaN,3.3,11.5,1.4,36.5,NaN,0.416667,277.0,NaN,108.5,67.00,2.60,4.10,48.0,8.00,NaN,100.0,NaN,107.0,30.00,84.0,NaN,NaN,103.000,7.35
151964,9997,57.0,NaN,27.30,20.0,NaN,37.75,9.90,20.0,-4.0,14.000000,NaN,3.3,11.5,1.4,36.5,NaN,0.400000,277.0,NaN,108.5,71.00,2.60,4.10,51.0,8.00,NaN,100.0,NaN,107.0,30.00,83.0,NaN,NaN,110.000,7.35
151965,9997,57.0,NaN,27.30,20.0,NaN,37.75,9.90,20.0,-4.0,16.000000,NaN,3.3,11.5,1.4,36.5,NaN,0.416667,277.0,NaN,108.5,71.00,2.60,4.10,50.0,8.00,NaN,100.0,NaN,107.0,30.00,88.0,NaN,NaN,111.000,7.35
151966,9997,57.0,NaN,27.30,20.0,NaN,37.00,9.90,20.0,-4.0,17.000000,NaN,3.3,11.5,1.4,36.5,NaN,0.400000,277.0,NaN,108.5,75.00,2.60,4.10,52.0,8.00,NaN,100.0,NaN,107.0,30.00,89.0,NaN,NaN,118.000,7.35
151967,9997,57.0,NaN,27.30,20.0,NaN,37.75,9.90,20.0,-4.0,14.000000,NaN,3.3,11.5,1.4,36.5,NaN,0.416667,277.0,NaN,108.5,71.00,2.60,4.10,51.0,8.00,NaN,100.0,NaN,107.0,30.00,86.0,NaN,NaN,111.000,7.35

In [34]:
df_test_short_means = df_test_short_means.fillna(df_test_short_means.mean())
df_test_short_means

,pid,Age,EtCO2,PTT,BUN,Lactate,Temp,Hgb,HCO3,BaseExcess,RRate,Fibrinogen,Phosphate,WBC,Creatinine,PaCO2,AST,FiO2,Platelets,SaO2,Glucose,ABPm,Magnesium,Potassium,ABPd,Calcium,Alkalinephos,SpO2,Bilirubin_direct,Chloride,Hct,Heartrate,Bilirubin_total,TroponinI,ABPs,pH
0,0,39.0,32.509552,41.35,18.5,2.322879,36.00,9.65,14.5,-6.5,11.714286,147.000000,5.4,18.0,2.3,28.0,31.500000,0.530000,193.5,93.197356,217.5,80.75,2.35,4.15,64.5,8.15,114.000000,100.0,1.131093,100.0,28.45,84.5,24.10000,6.412313,128.625,7.37
1,0,39.0,32.509552,44.20,17.0,2.322879,36.00,10.20,13.0,-6.5,11.714286,147.000000,6.0,17.5,2.2,28.0,32.000000,0.600000,194.0,93.197356,273.0,77.00,2.20,4.60,76.0,8.00,119.000000,100.0,1.131093,98.0,31.00,82.0,21.80000,6.412313,119.000,7.37
2,0,39.0,32.509552,41.35,18.5,2.322879,36.00,9.65,14.5,-9.0,13.000000,147.000000,5.4,18.0,2.3,26.0,31.500000,0.550000,193.5,93.197356,217.5,78.00,2.35,4.15,72.5,8.15,114.000000,100.0,1.131093,100.0,28.45,78.0,24.10000,6.412313,125.000,7.34
3,0,39.0,32.509552,41.35,18.5,2.322879,36.00,9.65,14.5,-6.5,12.000000,147.000000,5.4,18.0,2.3,28.0,31.500000,0.500000,193.5,93.197356,217.5,87.00,2.35,4.15,66.0,8.15,114.000000,100.0,1.131093,100.0,28.45,80.0,24.10000,6.412313,136.000,7.37
4,0,39.0,32.509552,41.35,18.5,2.322879,36.00,9.65,14.5,-6.5,11.714286,147.000000,5.4,18.0,2.3,28.0,31.500000,0.530000,193.5,93.197356,217.5,86.00,2.35,4.15,65.0,8.15,114.000000,100.0,1.131093,100.0,28.45,83.0,24.10000,6.412313,135.000,7.37
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
151963,9997,57.0,32.509552,27.30,20.0,2.322879,37.75,9.90,20.0,-4.0,14.000000,271.282903,3.3,11.5,1.4,36.5,191.099093,0.416667,277.0,93.197356,108.5,67.00,2.60,4.10,48.0,8.00,98.404732,100.0,1.131093,107.0,30.00,84.0,1.52128,6.412313,103.000,7.35
151964,9997,57.0,32.509552,27.30,20.0,2.322879,37.75,9.90,20.0,-4.0,14.000000,271.282903,3.3,11.5,1.4,36.5,191.099093,0.400000,277.0,93.197356,108.5,71.00,2.60,4.10,51.0,8.00,98.404732,100.0,1.131093,107.0,30.00,83.0,1.52128,6.412313,110.000,7.35
151965,9997,57.0,32.509552,27.30,20.0,2.322879,37.75,9.90,20.0,-4.0,16.000000,271.282903,3.3,11.5,1.4,36.5,191.099093,0.416667,277.0,93.197356,108.5,71.00,2.60,4.10,50.0,8.00,98.404732,100.0,1.131093,107.0,30.00,88.0,1.52128,6.412313,111.000,7.35
151966,9997,57.0,32.509552,27.30,20.0,2.322879,37.00,9.90,20.0,-4.0,17.000000,271.282903,3.3,11.5,1.4,36.5,191.099093,0.400000,277.0,93.197356,108.5,75.00,2.60,4.10,52.0,8.00,98.404732,100.0,1.131093,107.0,30.00,89.0,1.52128,6.412313,118.000,7.35
151967,9997,57.0,32.509552,27.30,20.0,2.322879,37.75,9.90,20.0,-4.0,14.000000,271.282903,3.3,11.5,1.4,36.5,191.099093,0.416667,277.0,93.197356,108.5,71.00,2.60,4.10,51.0,8.00,98.404732,100.0,1.131093,107.0,30.00,86.0,1.52128,6.412313,111.000,7.35

In [35]:
df_test_short_means.shape
out = (df_test_short_means.shape[0]/12,df_test_short_means.shape[1])

(151968, 36)

In [ ]:
np_test = np.empty((len(df_test_short_means.pid.unique()),))

In [11]:
df_test_interpol.to_csv('testdatat_interpolatet.csv', index=False, float_format='%.3f')