In [1]:
import pandas as pd
import numpy as np

In [2]:
train_str = 'Data/train_features_Sven_short.csv'
labels_str = 'Data/train_labels_sorted.csv'
df_train = pd.read_csv(train_str)
df_labels = pd.read_csv(labels_str)

In [3]:
pd.set_option('display.max_rows', 30)
pd.set_option('display.max_columns', None)

In [4]:
k = np.array(df_train.pid)
ran = np.random.choice(k, size=3000)
ran.sort()
print(ran)

[   24    35    35 ... 31640 31641 31658]

In [5]:
keep = ran
keep

array([   24,    35,    35, ..., 31640, 31641, 31658], dtype=int64)

In [6]:
np_test = np.empty((len(keep),df_train.shape[1]))
np_test_label = np.empty((len(keep),df_labels.shape[1]))

for i in range(len(keep)):
    mask_train = df_train.loc[:,'pid'] == keep[i]
    mask_label = df_labels.loc[:,'pid'] == keep[i]
    np_test[i,:] = df_train[mask_train]
    np_test_label[i,:] = df_labels[mask_label]

In [7]:
df_train_test = pd.DataFrame(np_test, columns=df_train.columns)
df_train_test = df_train_test.astype({'Age':'int32'})
df_train_test = df_train_test.astype({'pid':'int32'})
df_train_test

,pid,Age,EtCO2,PTT,BUN,Lactate,Temp,Hgb,HCO3,BaseExcess,RRate,Fibrinogen,Phosphate,WBC,Creatinine,PaCO2,AST,FiO2,Platelets,SaO2,Glucose,ABPm,Magnesium,Potassium,ABPd,Calcium,Alkalinephos,SpO2,Bilirubin_direct,Chloride,Hct,Heartrate,Bilirubin_total,TroponinI,ABPs,pH
0,24,85,32.893,54.100,18.000,2.517,36.083,10.867,22.000,-5.167,11.333,273.38,3.617,19.300,3.40,42.667,158.23,0.458,171.000,79.000,131.500,66.250,1.996,4.617,49.250,7.742,96.624,99.250,1.172,115.000,32.408,80.833,1.544,6.452,103.417,7.297
1,35,31,32.893,38.657,5.000,2.349,37.292,11.600,23.806,-0.762,14.125,273.38,3.300,9.000,0.78,40.822,158.23,0.658,269.000,93.271,103.083,100.167,1.700,4.100,76.500,8.900,96.624,96.333,1.172,105.922,34.200,75.917,1.544,6.452,135.000,7.377
2,35,31,32.893,38.657,5.000,2.349,37.292,11.600,23.806,-0.762,14.125,273.38,3.300,9.000,0.78,40.822,158.23,0.658,269.000,93.271,103.083,100.167,1.700,4.100,76.500,8.900,96.624,96.333,1.172,105.922,34.200,75.917,1.544,6.452,135.000,7.377
3,70,54,32.893,38.657,23.001,2.349,37.708,10.754,23.806,0.000,17.917,273.38,3.617,11.567,1.47,40.250,158.23,0.500,210.727,93.271,110.000,74.250,1.996,4.115,57.667,7.742,96.624,96.167,1.172,105.922,32.022,76.667,1.544,6.452,107.250,7.398
4,85,78,31.750,38.657,23.001,1.450,36.208,10.754,23.806,-0.762,19.750,273.38,3.617,11.567,1.47,34.000,158.23,1.000,210.727,93.271,114.083,69.083,1.996,3.800,48.042,1.220,96.624,99.750,1.172,110.000,32.022,63.250,1.544,6.452,106.250,7.410
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,31622,82,32.893,30.800,23.001,2.349,37.000,9.000,23.806,-0.762,24.167,273.38,2.600,11.600,1.47,40.822,158.23,0.658,427.000,93.271,219.000,107.833,2.100,4.115,77.833,7.742,96.624,92.917,1.172,105.922,27.900,81.167,1.544,6.452,158.583,7.377
2996,31640,65,32.893,24.800,13.333,2.349,37.500,8.312,26.000,1.208,20.875,273.38,3.617,20.929,0.70,43.708,158.23,0.658,217.958,95.417,171.208,65.000,2.400,4.237,49.375,7.742,96.624,98.083,1.172,112.000,24.183,87.417,1.544,6.452,98.917,7.387
2997,31640,65,32.893,24.800,13.333,2.349,37.500,8.312,26.000,1.208,20.875,273.38,3.617,20.929,0.70,43.708,158.23,0.658,217.958,95.417,171.208,65.000,2.400,4.237,49.375,7.742,96.624,98.083,1.172,112.000,24.183,87.417,1.544,6.452,98.917,7.387
2998,31641,39,32.893,31.300,24.500,2.349,36.625,11.500,23.806,-0.762,18.667,273.38,3.600,8.400,1.76,40.822,158.23,0.658,190.000,93.271,90.708,85.667,1.150,3.650,71.167,8.800,96.624,99.167,1.172,105.922,36.700,84.750,1.544,0.050,110.167,7.377
2999,31658,60,32.893,38.657,13.000,2.349,36.583,14.400,23.806,-0.762,18.120,273.38,3.617,4.600,0.71,40.822,158.23,0.658,164.000,93.271,102.500,95.250,1.900,3.600,73.583,8.800,96.624,96.000,1.172,105.922,40.200,67.250,1.544,6.452,133.167,7.377

In [8]:
df_train_test_label = pd.DataFrame(np_test_label, columns=df_labels.columns)
df_train_test_label = df_train_test_label.astype({'pid':'int32'})
df_train_test_label

,pid,LABEL_BaseExcess,LABEL_Fibrinogen,LABEL_AST,LABEL_Alkalinephos,LABEL_Bilirubin_total,LABEL_Lactate,LABEL_TroponinI,LABEL_SaO2,LABEL_Bilirubin_direct,LABEL_EtCO2,LABEL_Sepsis,LABEL_RRate,LABEL_ABPm,LABEL_SpO2,LABEL_Heartrate
0,24,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,25.9,69.8,99.1,89.7
1,35,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,16.7,89.3,96.0,73.8
2,35,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,16.7,89.3,96.0,73.8
3,70,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,17.3,95.3,95.6,78.8
4,85,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,21.7,69.3,97.4,69.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,31622,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,21.7,99.1,97.4,71.1
2996,31640,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,18.4,71.4,96.6,77.2
2997,31640,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,18.4,71.4,96.6,77.2
2998,31641,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,19.9,83.8,97.9,85.4
2999,31658,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,16.8,104.4,96.2,67.3

In [12]:
np_train = np.empty((df_train.shape[0]-len(keep),df_train.shape[1]))
np_train_label = np.empty((df_labels.shape[0]-len(keep),df_labels.shape[1]))


np_train.shape
#for i in range(len(keep)):
#    mask_train = df_train.loc[:,'pid'] == keep[i]
#    mask_label = df_labels.loc[:,'pid'] == keep[i]
#    np_test[i,:] = df_train[mask_train]
#    np_test_label[i,:] = df_labels[mask_label]

SyntaxError: unmatched ')' (<ipython-input-12-86be5ba2e7da>, line 2)

In [ ]:
df_train_short.to_csv('Data/data_Sven_short.csv', index=False, float_format='%.3f')

In [9]:
df_train_test.to_csv('Data/train_features_test.csv', index=False, float_format='%.3f')
df_train_test_label.to_csv('Data/train_labels_test.csv', index=False, float_format='%.3f')

In [10]:
safe = ran

In [11]:
print(safe)

[   24    35    35 ... 31640 31641 31658]